name: Build Windows App
on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21 
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package

      - name: Package with jpackage
        run: |
          jpackage --type exe `
          --dest dist `
          --name "MellyMinigames" `
          --main-jar target/MellyMinigames.jar `
          --main-class ui.Main `
          --win-shortcut `
          --win-menu `
          --vendor "Justin"

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
